@inherits LayoutComponentBase

<div class="page">

    <main>
        <NavMenu />
        <div class="img-header-container">

            @* our image header bg *@
            <div class="img-header-bg" />

            @* credit link to photo author *@
            <span class="credit-link fst-italic">Photo by Johannes Plenio: https://www.pexels.com/photo/forest-covered-in-white-fog-1423600/</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

