<div class="spacer" />
<div class="spacer" />

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-md-8 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Boyd Hanel</h1>
            <p class="lead">
                I know that getting and staying fit can be challenging, but I also believe that it's never too late to make positive changes. Through this blog, I aim to inspire others of similar ages to take control of their health and demonstrate that fitness can be achieved at any life stage. Thank you for joining me on this journey, and I hope to motivate and support you along the way.
            </p>
        </div>
        <div class="col-md-3 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-md-3" src="/Images/DadInBigfootFort.jpg" alt="" height="500" >
        </div>
    </div>
</div>