@using BlazorServer2.Data;
@using BlazorServer2.Models;
@inject ApplicationDbContext _context

@* our BS jumbotron, TODO: modify later*@
<div class="d-flex justify-content-center w-100">
    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-8 w-100">
            <div class="h-100 w-100 p-4 m-2 bg-light rounded-4" style="border:solid 2px; border-color:#B8CCA3;">
                <h2>@BlogPostDemo.PostTitle</h2>
                <p>
                    @((MarkupString)BlogPostDemo.PostHtmlContent)
                </p>
                <button class="btn btn-outline-secondary" type="button">Expand Article</button>
                @* ^^^ use JS to measure, then have smooth expand thing, or maybe css? *@
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public BlogPost BlogPostDemo { get; set; } = default!;


    protected override Task OnInitializedAsync()
    {
        // Get the posts

        // test just get first


        return base.OnInitializedAsync();
    }
}
