

@*<button @onclick="OpenModal">Open</button>*@

@* 👇 Use @ref to keep a reference to the html element in order to use it in JS *@


@code {
   


}

@*@code {


    [Parameter]
    public ModalDisplayOptions modalDisplayOption { get; set; }

    [Parameter]
    public bool Success { get; set; }

    public enum ModalDisplayOptions
    {
        None,
        Block
    }

}*@