
<div class="d-flex flex-column justify-content-center align-content-center text-center">

    <div>
        <button @onclick=NotifySubscribersToggle class="btn btn-warning" style="width:20%;">Notify Subs</button>

        <div class="p-2">
            @if (NotifyStatus == false)
            {
                <img style="width:50px;" src="https://em-content.zobj.net/source/skype/289/check-mark_2714-fe0f.png" />
                <h4 class="mt-2">Yes</h4>
            }
            else
            {
                <img style="width:50px;" src="https://em-content.zobj.net/thumbs/120/microsoft/319/cross-mark_274c.png" />
                <h4 class="mt-2">Next Time...</h4>
            }
        </div>
    </div>
</div>


@code {
    [Parameter]
    public EventCallback<bool> NotifySubscribers { get; set; }

    private bool NotifyStatus { get; set; }

    private async Task NotifySubscribersToggle()
    {
        // set parent value to true
        await NotifySubscribers.InvokeAsync(NotifyStatus);

        // toggle the check
        NotifyStatus = !NotifyStatus;
    }
}
