@{
    #region StackSource
    /*
    answered Jun 21, 2016 at 10:53
    Chris's user avatar
    Chris
    https://stackoverflow.com/questions/19400183/how-to-style-chat-bubble-in-iphone-classic-style-using-css-only
                    */
    #endregion
}

<div class="container">
    <section>
        <div class="from-them">
            <p>@SmsAnswer</p>
        </div>
        <div class="clear"></div>
        <div class="from-me">
            <p>@SmsMessage</p>
        </div>
    </section>
</div>

@code {
    [Parameter]
    public string SmsMessage { get; set; } = default!;

    [Parameter]
    public string SmsAnswer { get; set; } = default!;
}
