
<nav class="navbar navbar-dark" aria-label="First navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Fit Beyond 50</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample01" style="">
            <div class="d-flex flex-wrap justify-content-around p-2">
                <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                <NavLink class="nav-item" href="/ViewPosts" Match="NavLinkMatch.All">
                    <span class="oi oi-info" aria-hidden="true"></span> View Posts
                </NavLink>
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="nav-item" href="/ManagePosts" Match="NavLinkMatch.All">
                            <span class="oi oi-hard-drive" aria-hidden="true"></span> Manage Posts
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <p class="oi oi-eject text-primary-custom">You're not authorized to manage posts.</p>
                    </NotAuthorized>
                </AuthorizeView>
                <LoginDisplay />
            </div>
            @*<ul class="navbar-nav me-auto mb-2">
                <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                <NavLink class="nav-item" href="/ViewPosts" Match="NavLinkMatch.All">
                    <span class="oi oi-info" aria-hidden="true"></span> View Posts
                </NavLink>
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="nav-item" href="/ManagePosts" Match="NavLinkMatch.All">
                            <span class="oi oi-hard-drive" aria-hidden="true"></span> Manage Posts
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <p class="oi oi-eject text-primary-custom">You're not authorized to manage posts.</p>
                    </NotAuthorized>
                </AuthorizeView>
                <LoginDisplay />
            </ul>*@
        </div>
    </div>
</nav>

@code {

}



