@using Microsoft.AspNetCore.Components.Web
@namespace BlazorServer2.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/470/470432.png?w=826&t=st=1685490952~exp=1685491552~hmac=b6fee6a73f851908d5a82224dbd81761c15be3776efcb06d9fbb3c0df37a5487" />
    @* for bs styles *@
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    @* for main styles *@
    <link href="css/site.css" rel="stylesheet" />
    @* for text styles *@
    <link href="css/smsStyles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <!-- 👇 Include the JavaScript file before "_framework/blazor.server.js" -->
    <script src="~/OpenModal.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
