@page "/"
@using BlazorServer2.Pages.MiscComponents;


<PageTitle>FitBeyond50</PageTitle>

@*<FakeSmsGroup1 />*@

<AboutMeHero />


<Subscribe />


<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">
            <h1 class="display-4 text-center fw-bold lh-1 mb-3">See Latest Posts</h1>
            <div>
                <a href="/ViewPosts" class="btn btn-primary w-100 m-2">ViewPosts :-D</a>
            </div>
        </div>
    </div>
</div>


@code {

}