@page "/ViewPosts"
@using BlazorServer2.Data;
@using BlazorServer2.Models;
@using BlazorServer2.Pages.MiscComponents;
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext _context

<div class="container-fluid w-100">
    @if (BlogPosts == null)
    {
        <LoadingInline />
    }
    else if (BlogPosts.Count == 0)
    {
        <p>There are no posts to display...</p>
    }
    else
    {
        <PostsWithPages BlogPosts="BlogPosts" />
    }
</div>

@code {
    public List<BlogPost> BlogPosts { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        BlogPosts = await _context.BlogPosts
        .Include(b => b.PostComments)
        .OrderByDescending(b => b.DateCreated).ToListAsync();

        await base.OnInitializedAsync();
    }
}
